#exportPattern("^[[:alpha:]]+")
export("outrigger")
export("score_plots")
useDynLib(outrigger, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(np,npregbw)
importFrom(mgcv,gam)
importFrom(RColorBrewer,brewer.pal)
importFrom("graphics", "hist", "legend", "lines")
importFrom("stats", "predict", "quantile")
